/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> node-modules ###
node_modules/
###< node-modules ###

###> env ###
.env.local
.env.*.local
###< env ###

###> ide ###
.idea/
.vscode/
*.swp
*.swo
###< ide ###
