parameters:
	level: 5
	paths:
		- src
		- tests
	tmpDir: /tmp/phpstan
	treatPhpDocTypesAsCertain: false

includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
